body{
    background-color: #E9ECEF ;
}
.display-4{
    text-align: center;
    margin-bottom: 50px;
}
.lead{
    text-align: center;
}

.list{
    margin-left: 43%;
}
.urunlerana{
    margin-left: 34%;
    color: coral;
   
}
.btn{
    margin-left: 43%;
}
.nav{
    background-color: rgb(73, 73, 73);
    
}
.nav-item a{
    color: rgb(255, 255, 255);
}
.row{
    margin-top: 40px;
}
.card-img-top{
    padding: 20px;
}